@import '../../styles/variables.scss';

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    &.active {
      box-shadow: $box-shadow-card;
      border-color: $main-color;
      background-image: $background-image-hover;
    }
  }
}
