@import '../../styles/variables.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $error-btn-padding;
  border-radius: $border-radius;
  border-width: $border-width;
  border-style: $border-style;
  color: $main-color;
  border-color: $main-color;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-card;
  }
}
