$background-color: #0c100c;

$font-size-px: 16px;

$main-color: #15ff00;
$semi-transparent-line-color: #15ff005e;

$search-border-radius: 5px;
$search-border-width: 2px;
$search-border-style: solid;

$font-family-default: 'Arial', sans-serif;

$transitionAll: all 1s ease;

$semi-transparent-line-margin: 10px;

$main-page-padding: 10px;
$search-input-padding: 5px;
