$background-color: #0b0c10;
$main-color: #66fcf1ed;
$first-color: #050505;
$second-color: #002d32;
$third-color: #defffcdb;
$fourth-color: #66fcf145;
$background-image: radial-gradient(
  ellipse at 30% 10%,
  $first-color,
  $second-color
);
$background-image-hover: radial-gradient(
  ellipse at 30% 10%,
  $second-color,
  $first-color
);

$font-size-px: 16px;

$pagination-btn-width: 6vw;

$semi-transparent-line-color: $second-color;
$semi-transparent-line-color: $fourth-color;
$box-shadow-card: 0 0 20px 1px $main-color;

$border-radius: 5px;
$border-width: 2px;
$border-style: solid;

$font-family-default: 'Arial', sans-serif;

$transitionAll: all 1s ease;

$semi-transparent-line-margin: 10px;
$card-margin: 10px;
$limit-btn-margin: 0 5px;

$main-page-padding: 10px;
$search-wrapper-padding: 15px;
$search-input-padding: 5px;
$card-padding: 20px;
$card-img-padding: 15px;
$card-description-padding: 5px;
$card-description-title-padding: 15px;
$error-btn-wrapper-padding: 5px 3vw;
$error-btn-padding: 10px 15px;
$limit-btn-padding: 0 15px;
$error-title-padding: 15px;
$card-info-padding: 2vw 3vw;
$card-info-phone-padding: 5vw 7vw;
$card-info-title-padding: 0 0 15px 0;
$card-info-description-padding: 10px;
$not-found-padding: 3vw 0;
