$background-color: #0c100c;
$background-image-card: radial-gradient(ellipse at 30% 10%, #0e120d, #0f2903);
$background-image-card-hover: radial-gradient(
  ellipse at 30% 10%,
  #043c00,
  #050505
);

$font-size-px: 16px;

$main-color: #15ff00;
$semi-transparent-line-color: #15ff005e;
$box-shadow-card: 0 0 20px 1px #15ff00;

$border-radius: 5px;
$border-width: 2px;
$border-style: solid;

$font-family-default: 'Arial', sans-serif;

$transitionAll: all 1s ease;

$semi-transparent-line-margin: 10px;
$card-margin: 10px;

$main-page-padding: 10px;
$search-wrapper-padding: 15px;
$search-input-padding: 5px;
$card-padding: 20px;
$card-img-padding: 15px;
$card-description-padding: 5px;
$card-description-title-padding: 15px;
