@import '../../styles/variables.scss';

.limit-pages {
  display: flex;
  align-items: center;
  &__title {
    padding: $limit-btn-padding;
  }
  &__btn.active {
    box-shadow: $box-shadow-card;
    border-color: $main-color;
    background-image: $background-image-hover;
  }
}
