@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.top-section');

.top-section {
  &__search_wrapper {
    padding-bottom: $search-wrapper-padding;
  }
  &__separator {
    border-color: $semi-transparent-line-color;
    margin: $semi-transparent-line-margin 0;
    width: 94%;
  }
}
