@import '../variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $font-size-px;
}

.body {
  color: $main-color;
  font-size: $font-size-px;
  font-family: $font-family-default;
  font-weight: 400;
  background-color: $background-color;
  min-height: 100vh;
}

*:hover {
  transition: $transitionAll;
}

a {
  text-decoration: none;
}
